@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1602644176973'); /* IE9 */
  src: url('iconfont.eot?t=1602644176973#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABqQAAAKUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIElATYCJAMICwYABCAFhG0HNhvRBREVjEeyHweO22y9pSPmKbc+RZXQRPrPwfO1lr3f3Uu9EwKQBBLZhcsDTVxyhAosgTB35RlUwvr0bE01YxMkgLxg0Jpo8h96e8sny0l6vAwXoQJYAEuo3TUpDjYQexB8n7h3+ldAgcx33uW6B401aVIXYBxQQGNtiqxAQm+YXr7AgTgOASyZyklH1+XemWDQ4wSQ5YVYdSYFLwbDEkEEf8NSg1zBR1DtqTfA5ej7ckZtgqDwaXRJ7+zWdhaH6SZFu55rMiDwgYBW+wANlAMDMtgY7aaPMLbGRgfk4liFAofpnhdYkKMaEfbX6XwHgHQYEzhMd5JHFVYAGMiHGtCJWOY67aQ461/2B78eDH0/Gvl2OHUucVjduH/uYaIevBH03EkauX0+Yeime38ishB6lBR18wErzdbuz2Zn96cxZGd7GZo6IxG7L17ecyRNnLvPn++FXdJWDg/20leODlfg5Kg2GxGTtt++jk67/f4MgaE7Cf9mohr+B8MGgN+P9z5EIzy3aBcInsYm8LvEAxuMkGqrMterFEBRQ99GmcUCHsgZ699UXcK9JYUgCXdoD5CRQRMknzSscvgIUw8/QbjNsMrsV4fFYX3SEFDqG0BE+4ES6RW0aL+kYf3BJ9E//KLThzWcuC3DCpPO2hmVoAX9BamhylmrzOLCK8ZtoTgvjThP5CYNQOgF5cQeK+QlZjSvOBJx4JhK2IHTsCgIaqYMjXiJSD33fdf0Js9Q2Zlpx5AikAW0LyBlkIoLWotZ5fNXKNYqKNxRl4s+IdZIOwchTzCA3KuqQXWP8krjJRYRwgEOIyWwA4NQoUBA3TwogwzhSSaEa3O+aeaGqrztNeXfbQMsrVcx8zXOa1OryKZVrNtOBw==') format('woff2'),
  url('iconfont.woff?t=1602644176973') format('woff'),
  url('iconfont.ttf?t=1602644176973') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1602644176973#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidaodingbu:before {
  content: "\e61c";
}

